<!-- First -->
<div class="row  m-1">


  <div class="col-md m-2" id="youtubeImage0" >
    <a href="javascript:void(0)">
        <div class="cp-clip-back"onclick = 'selectYoutube(0)'>
          <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[0]%>/sddefault.jpg" alt="Card image cap">
          <div class="cp-clip-front" >
            <div  class="cp-font-noto-regular"><%= title[0]%></div>
          </div>
      </div>
    </a>
  </div>

  <div class="col-md m-2" id="youtubeImage1" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(1)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[1]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[1]%></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md m-2" id="youtubeImage2" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(2)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[2]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[2]%></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md m-2" id="youtubeImage3" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(3)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[3]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[3]%></div>
        </div>
      </div>
    </a>
  </div>


</div>
<!-- First -->


<!-- Second -->
<div class="row  m-1">


  <div class="col-md m-2" id="youtubeImage4" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(4)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[4]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[4]%></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md m-2" id="youtubeImage5" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(5)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[5]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[5]%></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md m-2" id="youtubeImage6" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(6)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[6]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[6]%></div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md m-2" id="youtubeImage7" >
    <a href="javascript:void(0)">
      <div class="cp-clip-back" onclick = 'selectYoutube(7)'>
        <img style="width:100%; height:0%; " src="https://img.youtube.com/vi/<%= url[7]%>/sddefault.jpg" alt="Card image cap" >
        <div class="cp-clip-front">
          <div  class="cp-font-noto-regular"><%= title[7]%></div>
      </div>
      </div>
    </a>
  </div>


</div>
<!-- Second -->
